.nav-wrap {
  background-color: green;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  margin: 0;
}

.nav-wrap p {
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin-left: 15px;
}

.nav-wrap ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.nav-wrap ul li {
  list-style: none;
  margin: 10px 30px;
  color: white;
}

.book-page {
  width: 100%;
  background-color: yellowgreen;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.entry {
  height: 34px;
  border-radius: 10px;
  border: 3px solid yellow;
  margin: 10px;
  width: 500px;
  color: darkgray;
  padding: 5px;
  font-size: 20px;
}

.submit-btn {
  background-color: gray;
  color: yellow;
  font-size: 20px;
  cursor: pointer;
  width: 520px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid yellow;
}

.Book {
  background-color: white;
  padding: 3px 15px;
}

.Book h3 {
  color: rgb(77, 77, 77);
  padding: 20px;
  list-style: none;
  margin: 0;
}

.Book button {
  height: 25px;
  background-color: yellowgreen;
  border: 3px solid yellowgreen;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  display: flex;
  color: white;
}

.category {
  width: 100%;
  height: 100vh;
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statuscheck {
  background-color: yellow;
  width: 30%;
  height: 50px;
  border: 5px solid green;
  border-radius: 10px;
  font-size: 15px;
}

.links {
  text-decoration: none;
  color: white;
}
